# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/

# Dataset files
data/raw/
data/processed/

# Checkpoints, logs, and output
checkpoints/
*.log
*.out
*.pt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.vscode/
.idea/

# Python build files
build/
dist/
*.egg-info/
